<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2768b">  <td>23/05/16 17:21:10</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DemoOrangeHRM.afterTest()[pri:0, instance:testpackage.DemoOrangeHRM@70e9c95d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1528923159</td>   <td></td> </tr>
<tr bgcolor="b2768b">  <td>23/05/16 17:20:58</td>   <td>-11936</td> <td>&nbsp;</td><td title="&gt;&gt;DemoOrangeHRM.beforeTest()[pri:0, instance:testpackage.DemoOrangeHRM@70e9c95d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1528923159</td>   <td></td> </tr>
<tr bgcolor="b2768b">  <td>23/05/16 17:20:58</td>   <td>-11908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoOrangeHRM.test()[pri:0, instance:testpackage.DemoOrangeHRM@70e9c95d]">test</td> 
  <td>main@1528923159</td>   <td></td> </tr>
</table>
